.forecast-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}

@media screen and (max-width: 570px) {
  .forecast-wrapper {
    flex-direction: column;
  }
}
