.forecast-card__hourly {
  padding: 10px;
  background-color: #f5f5f5;
  margin: 2px;
  box-shadow: 0px 20px 21px -22px #a8a3a3;
  cursor: auto;
}

.time {
  font-size: 16px;
  text-transform: uppercase;
  color: #474c7b;
  font-family: "Open Sans", Arial, sans-serif;
}
